.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  min-height: 100vh;

  gap: 50px;

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }

  padding: 0 30px;
}

.top {
  padding-top: 30px;
}

.middle {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 20px;
}

.bottom {
  padding-bottom: 30px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
  font-weight: 500;
}

.titleEng {
  font-size: 25px;
  font-weight: 400;
}

.source {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;

  .icon {
    font-size: 1.3em;
    transform: translateY(-0.02em);
  }
}
