@import './fonts.css';
@import '@/modules/browser/dialog/style.scss';

:root {
  --gray: #f2f3f4;
  --active-gray: #e8e9eb;
  --point-color: #ee4132;
}

html,
body {
  font-family: Interop, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

html {
  font-size: 16px;
  color: #222;
  letter-spacing: -0.03em;

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 140%;
  }
}

body {
  user-select: none;
  word-break: keep-all;
  overflow-wrap: break-word;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

button,
input {
  appearance: none;

  padding: 0 18px;

  height: 40px;

  background: none;
  background-color: var(--gray);

  font-size: 16px;
  font-weight: 400;

  border: none;
  border-radius: 6px;

  outline: none;

  transition: box-shadow 200ms ease, background-color 200ms ease,
    transform 100ms ease;
  will-change: transform;

  cursor: default;

  text-align: center;

  &.minimal {
    color: var(--point-color);

    padding: 5px 0;
    height: auto;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  line-height: 1;

  svg {
    transform: translateY(-0.01em);
  }
}

@media (hover: hover) {
  input:hover {
    box-shadow: inset 0 0 0 2px var(--active-gray);
  }
}

input:focus {
  background-color: var(--active-gray);
  cursor: text;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--active-gray);
  }

  button:disabled:hover {
    background-color: var(--gray);
  }
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  color: #a0a0a0;
  transform: none !important;
}
